<!DOCTYPE html>
<html>
<head>
    <title>Setup stream pipes</title>
    <style type="text/css">
        html, body {
            background-color: white;
            text-align: center;
        }
        table, th, td {
            border: 1px solid black;
        }
    </style>    
</head>
<body>
    <div>
      <table>
        <tr>
          <th>Pipe</th>
          <th>Host</th>
          <th>Port</th>
          <th>PID</th>
        </tr>
        {{range $idX, $item := .STREAM}}
        <tr>
          <td>{{ $item.PipeGSConstructor }}</td>
          <td>{{ $item.SourceHost }}</td>
          <td>{{ $item.SourcePort }}</td>
          <td>{{ $item.PIDProcess }}</td>
        </tr>
        {{end}}
      </table>
    </div>
</body>
</html>