<!DOCTYPE html>
<html>
<head>
    <title>MJPEG streamer test</title>
    <style type="text/css">
        html, body {
            background-color: #111;
            text-align: center;
        }
    </style>
    
</head>
<body>
    <hr>
    <img id="enoderView"></img>
    <img id="expoCamView"></img>
    <script type="text/javascript" src="jscripts/mjpegPlayer.js?key=1"></script>
    <script type="text/javascript">
        var urlVID = 'ws://{{.VideoADR}}/';
        var urlAUD = 'ws://{{.AudioADR}}/';
        var urlEXPO = 'ws://{{.ExpoCamADR}}/';
        var playMain = MakeMJPEGReader("enoderView", urlVID, {audioURL:urlAUD});
        var playExpo = MakeMJPEGReader("expoCamView", urlEXPO);
    </script>
</body>
</html>